[submodule "rethinkdbxx/librethinkdbxx"]
	path = rethinkdbxx/librethinkdbxx
	url = https://github.com/AtnNn/librethinkdbxx.git
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
